<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="./style.css" />
</head>
<body>

  <p><%= @message %></p>

  <p><a href="/add_bookmark">Add bookmark</a></p>

  <ul>
    <% @bookmarks.each do |bookmark| %>
      <li>
        <a href="<%= bookmark.url %>"><%= bookmark.title %></a>
        <form action='/bookmarks/<%= bookmark.id %>' method="post" >
          <input type="hidden" name="_method" value="DELETE" >
          <input type="submit" value="delete" id="delete-<%= bookmark.id %>">
        </form>
        <!-- (<a href="/delete/<%= bookmark.id %>" id="delete-<%= bookmark.id %>">delete</a>) -->
      </li>
    <% end %>
  </ul>

</body>
</html>
